<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CafeManager2"
			 connectionString="Data Source=DESKTOP-NLSL4KC;
			 Initial Catalog=CafeManager2; 
			 TrustServerCertificate=True;
			 Integrated security=True"/>
	</connectionStrings>
</configuration>